@font-face {
  font-family: "Recoleta";
  src: url("/me/fonts/recoleta/Recoleta-RegularDEMO.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-recoleta {
  font-family: "Recoleta", serif;
  font-weight: 400;
}
